{% extends 'base.html' %}
{% block title %}Contacts {% endblock title %}
{% load static %}


{% block body %}




<div class="container-fluid ccontact text-center">
    <h1>About Us</h1>
</div>
<div class="container text-center my-2">
    <h4>San Bank</h4>
</div>

<div class="container text-center my-2">
    <h6>Always convenient for Customer </h6>
</div>


<div class="container">
    <div class="row mx-0">
        <div class="col-md-12 my-3 ">
        <div class="card" >
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Designed and Maintained By: Sandeep Kumar</h6>
                <p class="card-text"> Student at: BBDITM Lucknow</p>
                <p>University: Dr. A.P.J. Abdul Kalam Technical University, Uttar Pradesh, Lucknow.</p>
            </div>
        </div>
    </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row aboutFooter mx-0">
        <div class="col-md-12">
            <h6>Contact Us</h6>
            <p>Sandeep Kumar | Email: sandeepkasera99@gmail.com | BBDITM Lucknow.</p>

        </div>



        <div class="col-md-4 col-sm-4 col-4 ">
            <p class="review"><br>Twitter
                <a href="https://twitter.com/SandeepKasera99" target="_blank"><i class="fa fa-twitter"></i></a>
            </p>
        </div>

        <div class="col-md-4 col-sm-4 col-4">
            <p class="review"><br>Linkedin
                <a href="https://www.linkedin.com/in/sandeepkasera99/" target="_blank"> <i
                        class="fa fa-linkedin"></i></a>
            </p>


        </div>

        <div class="col-md-4 col-sm-4 col-4">
            <p class="review"><br>Instagram
                <a href="https://www.instagram.com/sandeepkasera_/" target="_blank"> <i class="fa fa-instagram"></i></a>
            </p>


        </div>


    </div>

</div>






{% endblock body %}