{% load static %}

<!doctype html>
<html lang=" en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>





	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <title> {% block title %} {% endblock title %}| San-Bank</title>

</head>

<body>
  <section id="header">
    <div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link head-a " href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link head-a" href="/customers">Customers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link head-a " href="/history">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link head-a " href="/about">About Us</a>
            </li>
          </ul>
        </div>
      </nav>

      </div>
  </div>


  {% block body %} {% endblock body %}

</body>
  
</html>