{% extends 'base.html' %}
{% block title %}Home {% endblock title %}
{% load static %}


{% block body %}

<div class="container-fluid quotes ">
    <h3 class="welcome text-center">Welcome to SAN BANK</h3>
    <div class="task">
        <p class="">Task: Basic Banking System</p>
        <p>Given by: The Sparks Foundation</p>
    </div>
</div>


<!-- Services -->
<section class="container-fluid" id="services">
    <h2 class="heading text-center intro ">Our Services</h2>
    <div class="container  text-center">
      <div class="row">
        <div class="card col-md-3 mx-auto my-1" style="width: 18rem;">
          <img src="./static/images/customer.png" class="card-img-top mt-3" style="height: 220px;" alt="customer image">
          <div class="card-body">
            <h5 class="card-title">View Customers</h5>
            <a href="/customers" class="btn btn-primary tMoneyBtn">View Customers</a>
          </div>
        </div>
        <div class="card col-md-3 mx-auto my-1" style="width: 18rem;">
          <img src="./static/images/transaction.png" style="height: 220px;" class="card-img-top mt-3 img" alt="transaction image">
          <div class="card-body">
            <h5 class="card-title ">View Transactions</h5>
            <a href="/history" class="btn btn-primary tMoneyBtn">View Transactions</a>
          </div>
        </div>
        <div class="card col-md-3 mx-auto my-1" style="width: 18rem;">
          <img src="./static/images/about.jpg" class="card-img-top mt-3 img tMoneyBtn" style="height: 220px;" alt="About image">
          <div class="card-body">
            <h5 class="card-title">View Details</h5>
            <a href="/about" class="btn btn-primary tMoneyBtn">About US</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>



<div class="container-fluid ">
    <h3 class="intro text-center">Intro of Sparks Foundation</h3>
    <div class="container">
        <div class="single-middle">
            <h3 class="w3layouts text-center"><span>Vision Statement</span></h3>
            <div class="media">
                <div class="media-body">
                    <p>A world of enabled and connected little minds, building future.</p>
                </div>
            </div>
            <h3 class="w3layouts text-center"><span>Mission Statement</span></h3>
            <div class="media">
                <div class="media-body">
                    <p>To inspire students, help them innovate and let them integrate to build the next generation
                        humankind.
                    </p>
                </div>

            </div>

            <div class="media">
                <div class="media-body">
                    <h4>Inspire</h4>
                    <p>To inspire, motivate and encourage students to learn, create and help build a better society.
                    </p>
                </div>

                <div class="media-body">
                    <h4>Innovate</h4>
                    <p>To teach new ways of thinking, to innovate and solve the problems on their own.
                    </p>
                </div>

                <div class="media-body">
                    <h4>Integrate</h4>
                    <p>To let the students integrate, and help each other, learn from each other and do well together.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




 

<div class="copyright-wthree text-center">
    <p>Mission and Vision is taken by <a target="_blank" href="https://www.thesparksfoundationsingapore.org/"> The
            Sparks Foundation </a>Website</p>
</div>

{% endblock body %}